.c-header {
    background-color: $color-brand;
    min-height: 87px;
    position: relative;
    width: 100%;
}

@media (min-width: 480px) {
    .c-header {
        top: 0;
        z-index: 9999;
    }

    .admin-bar .c-header {
        top: 32px;
    }
}

@media (max-width: $breakpoint-sm - 1) {
    .c-logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: $breakpoint-sm) {
    .c-logo {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }
}

.c-logo .c-logo__img {
    width: 200px;
}

@media (min-width: $breakpoint-sm){
    .c-navigation > ul > li > a {
        font-size: 1em;
    }
}
