.u-hide {
    display: none;
}

body:not(.home) {
    background-color: #F5F5F5;
}

img {
    height: auto;
    max-width: 100%;
}

.c-section {
    padding: 40px 0;
}

.c-section--slim {
    padding: 20px 0;
}

.c-section .u-heading {
    margin-top: 0;
}

.c-section--grey-light {
    background-color: #EEE;
}

.c-section--grey-dark {
    background-color: #4D5359;

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .u-heading {
        color: #FFF;
    }
}

.c-section--grey-darker {
    background-color: darken(#4D5359, 5%);

    li, a {
        color: #CCC;
    }
}

.c-section--grey-white {
    background-color: #FFF;
}

.u-border-bottom--grey-dark {
    border-bottom: 1px solid #666;
}
