.c-strip__buttons [class^="c-btn-"]:not(:first-child) {
  margin-left: 10px;
}

@media (min-width: $breakpoint-sm) {
  .c-strip {
    &__title,
    &__buttons {
      display: inline-block;
    }
  }
}

@media (max-width: $breakpoint-sm - 1) {
  .c-strip__buttons [class^="c-btn-"] {
    margin-top: 10px;
  }
}