{% set background = component.background is defined and component.background is not empty ? 'c-section--' ~ component.background : 'c-section--white' %}
{% set isContainer = component.is_full_width is defined and component.is_full_width == false ? 'u-container' : '' %}

<div class="c-section {{ background }}">
    <div class="{{ isContainer }}">
        {% if component.title is defined and component.title is not empty %}
            <h1 class="u-h2 u-text-center u-heading">{{ component.title }}</h1>
        {% endif %}
        {% if component.posts is defined and component.posts is not empty and component.posts | length > 3 %}
            {% include 'sections/item-carousel.twig' %}
        {% endif %}
        {% if component.posts is defined and component.posts is not empty and component.posts | length < 4 %}
            {% include 'sections/item-columns.twig' %}
        {% endif %}
    </div>
</div>
