{% if stackedClass is defined and stackedClass is not empty %}
    <span class="fa-stack fa-3x">
        <i class="fa {{ stackedClass }}" aria-hidden="true"></i>
        <i class="fa {{ class }}" aria-hidden="true"></i>
    </span>
{% else %}
    <i class="fa {{ class }}" aria-hidden="true"></i>
{% endif %}
