.c-form-search input {
    background-color: #ddd;
    border: 0;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.fscf-div-form {
    @extend .u-col-md-12,;
}

.fscf-div-field {
    margin-bottom: 15px;
}

#fscf_required1 {
    float: right;
}

.fscf-fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
