{% extends "base.twig" %}

{% block content %}
	<br>
	<div class="u-container">
		<div class="c-alert-danger">
			<p>Sorry, we couldn't find what you're looking for.</p>
		</div>
	</div>
{% endblock %}
