{% extends "base.twig" %}

{% block hero %}
	{% set thumbnail = site.theme.link ~ '/dist/images/placeholder.jpg' %}
	<div class="c-hero" style="background-image:url('{{thumbnail}}');"></div>
{% endblock %}

{% block content %}
	<div class="post-wrapper">
		<div class="u-container">
			{{ function('dimox_breadcrumbs') }}
			<div class="u-row">
				<div class="u-col-md-8">
					<article class="card">
						<section class="post-content u-padding-xs-4">
							<div class="post-body">
								<div class="c-alert-info" role="alert">Only members of the club can view this restricted page. To access enter the 'Password' published in your Welcome/Renew/Password Update Emails.</div>
								<form class="password-form" action="/wp-login.php?action=postpass" method="post">
								    <div class="form-group">
								        <label for="pwbox-{{post.ID}}">Password</label>
								        <input name="post_password" type="password" class="form-control password-box" id="pwbox-{{post.ID}}" placeholder="Password" size="20" maxlength="20">
								    </div>
								    <button type="submit" name="Submit" value="Submit" class="c-btn-primary">Submit</button>
								</form>
							</div>
						</section>
					</article>
				</div>
                {% include 'components/contact-form.twig' %}
			</div>
		</div>
	</div>
{% endblock %}
