a {
    color: $color-link;
}

p {
    line-height: 1.4;
}

.u-heading {
    font-weight: normal;
}

ul.u-reset {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

.u-text-brand {
    color: $color-brand;
}

// list styles
.u-list-inline li {
    display: inline-block;
}
