.u-heading {
  font-weight: normal;
}

ul.u-reset {
  margin: 0;
  padding: 0;
}

ul.u-reset li {
  list-style: none;
}

.u-text-brand {
  color: $color-brand;
}

.u-hide {
  display: none;
}

.u-border-bottom--grey-dark {
  border-bottom: 1px solid $header-divider;
}